<a href="https://colab.research.google.com/github/Oscar19922017/Ciencia-de-Datos/blob/master/Analisis_Economia_mundial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Patrones de la Econom√≠a Mundial 2019-2020**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
cont = pd.read_excel(r"continentes.xlsx")
df_19 = pd.read_csv(r"econ2019.csv")
df_20 = pd.read_csv(r"econ2020.csv")

In [4]:
cont.head(5)

         Country     Continente
0  United States  Norte America
1          China           Asia
2          Japan           Asia
3        Britain         Europa
4         Canada  Norte America

In [5]:
cont.tail(5)

         Country       Continente
41      Colombia  America del Sur
42        Mexico    Centroamerica
43          Peru  America del Sur
44        Israel             Asia
45  South Africa           Africa