<a href="https://colab.research.google.com/github/Oscar19922017/Ciencia-de-Datos/blob/master/Economia_Mundial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Patrones de la Econom√≠a Mundial 2019-2020**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:

# Importamos datos
cont = pd.read_excel(r"continentes.xlsx")
df_19 = pd.read_csv(r"econ2019.csv")
df_20 = pd.read_csv(r"econ2020.csv")

In [3]:
cont.head(5)

         Country     Continente
0  United States  Norte America
1          China           Asia
2          Japan           Asia
3        Britain         Europa
4         Canada  Norte America

sdjdjddj

In [4]:
df_19.head(2)

      Unnamed: 0  GDP_Latest  ...  short rates  long rates
0  United States         3.0  ...          2.7        2.66
1          China         6.4  ...          2.9        2.91

[2 rows x 10 columns]