<a href="https://colab.research.google.com/github/Oscar19922017/Ciencia-de-Datos/blob/master/Introduccion_G_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduccion**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

**Importar datos**

In [0]:
cont = pd.read_excel(r"continentes.xlsx")
df_19 = pd.read_csv(r"econ2019.csv")
df_20 = pd.read_csv(r"econ2020.csv")

In [5]:
cont.head(5)

         Country     Continente
0  United States  Norte America
1          China           Asia
2          Japan           Asia
3        Britain         Europa
4         Canada  Norte America

In [8]:
df_19.tail(5)

      Unnamed: 0  GDP_Latest  ...  short rates  long rates
42      Colombia         2.6  ...         4.50        6.63
43        Mexico         1.8  ...         8.58        8.40
44          Peru         2.3  ...         3.72        5.62
45        Israel         2.9  ...         0.24        2.04
46  South Africa         1.1  ...         7.15        8.66

[5 rows x 10 columns]