<a href="https://colab.research.google.com/github/Oscar19922017/Ciencia-de-Datos/blob/master/Introduccion_Python_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducccion a Python** 
*Oscar Gaspar - Consultor de Analitica*

"Se trata de un lenguaje de programación de alto nivel multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma"

Este lenguaje fue creado a principios de los noventa por Guido van Rossum en los Países Bajos.

El nombre del lenguaje proviene de la afición de su creador por los humoristas británicos Monty Python.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License,3​ que es compatible con la Licencia pública general de GNU a partir de la versión 2.1.1

**Python para Ciencia de datos**
Según lo revelado por los resultados de una encuesta realizada por Kaggle una plataforna de científicos de datos, Python es el más usado en cuanto a lenguaje de programación, seguido de SQL y R para el tema de ciencia de Datos

* Numpy :NumPy es una biblioteca de Python muy popular para el procesamiento de matrices y matrices multidimensionales de gran tamaño

* Scipy : SciPy es una biblioteca muy popular entre los entusiastas del aprendizaje automático, ya que contiene diferentes módulos para optimización, álgebra lineal, integración y estadísticas.

* Scikit-learn : Skikit-learn es una de las bibliotecas ML más populares para algoritmos ML clásicos. Está construido sobre dos bibliotecas básicas de Python, a saber, NumPy y SciPy. Scikit-learn admite la mayoría de los algoritmos de aprendizaje supervisados ​​y no supervisados.

* TensorFlow : TensorFlow es una biblioteca de código abierto muy popular para el cómputo numérico de alto rendimiento desarrollado por el equipo de Google Brain en Google. Como su nombre lo indica, Tensorflow es un marco que implica definir y ejecutar cálculos que involucran tensores. Puede entrenar y ejecutar redes neuronales profundas que pueden usarse para desarrollar varias aplicaciones de IA

* Keras : Keras es una biblioteca de Machine Learning muy popular para Python. Es una API de redes neuronales de alto nivel capaz de ejecutarse sobre TensorFlow, CNTK o Theano. Se puede ejecutar sin problemas tanto en la CPU como en la GPU. Keras hace que sea realmente para principiantes de ML construir y diseñar una red neuronal.

* PyTorch : PyTorch es una biblioteca de aprendizaje automático de código abierto popular para Python basada en Torch, que es una biblioteca de aprendizaje automático de código abierto que se implementa en C con un contenedor en Lua. Tiene una amplia selección de herramientas y bibliotecas que admite la visión por computadora, el procesamiento del lenguaje natural (PNL) y muchos más programas de ML. Permite a los desarrolladores realizar cálculos en tensores con aceleración de GPU y también ayuda a crear gráficos computacionales.

* Pandas : Pandas es una biblioteca de Python popular para el análisis de datos. No está directamente relacionado con el aprendizaje automático. Como sabemos, el conjunto de datos debe estar preparado antes del entrenamiento.

* Matplotlib : Matpoltlib es una biblioteca Python muy popular para la visualización de datos. Al igual que Pandas, no está directamente relacionado con el aprendizaje automático. Es particularmente útil cuando un programador quiere visualizar los patrones en los datos

**Intalar librerias**

In [1]:
#Conda install numpy # Anaconda

**cargar librerias**

In [2]:
# forma directa
import numpy
import pandas
import sys
import os

In [3]:
# con Alias es mas util
import numpy as np
import pandas as pd
import matplotlib as mp

In [4]:
# Importar un modeluo espefico
import matplotlib.pyplot as plt

In [5]:
# importar funciones
from random import gauss

**Calculadora**

In [6]:
6+5 # suma

11

In [7]:
12-8 # resta

4

In [8]:
8**2 # potencia

64

In [9]:
8/4 # Division

2.0

In [10]:
9*2 # multiplicacion

18

**Funciones Matematicas**

In [11]:
import math as m

In [12]:
m.sqrt(100)

10.0

**Variables en Pyhon**

Variables en Pyhon
¿Que es una Variable?
"En programación, una variable está formada por un espacio en el sistema de almacenaje (memoria principal de un ordenador) y un nombre simbólico (un identificador) que está asociado a dicho espacio. Ese espacio contiene una cantidad de información conocida o desconocida, es decir un valor. El nombre de la variable es la forma usual de referirse al valor almacenado"

la variables se asignan con el =

**Numeros**

**Enteros**

In [13]:
a=1
print(a)
b=2
print(b)
edad=35
salario=5000000

1
2

In [14]:
a*b

2

**Decimal**

In [15]:
pi=3.14
print(pi)# mostrar informacion

3.14

**Texto**

In [16]:
nombre="oscar"# agregan entre comillas simples o dobles
apellido='gaspar'
estrato="4"# texto porque tiene comillas

**Tipo de variables**

In [17]:
print(type(a))
print(type(pi))
print(type(apellido))

<class 'int'>
<class 'float'>
<class 'str'>

**Cnvertir de un decimal a un entero**

In [18]:
int(5.25)

5

**Transformar decimal a un entero**

In [19]:
float(5)

5.0

**Operaciones con cadenas de texto**

In [20]:
Nombre_Completo=nombre+"-"+apellido+" "
print(Nombre_Completo)

oscar-gaspar

repetir nombres

In [21]:
Nombre_Completo*5

'oscar-gaspar oscar-gaspar oscar-gaspar oscar-gaspar oscar-gaspar '

**Separar Texto**

In [22]:
Nombre_Completo

'oscar-gaspar '

In [23]:
Nombre_Completo.split("-")

['oscar', 'gaspar ']

In [24]:
# longitud
len(Nombre_Completo)
print(Nombre_Completo)

oscar-gaspar

**Espresiones y Valores boleanos**

In [25]:
True
False

False

In [26]:
type(True)

bool

In [27]:
type(False)

bool

**Validacion de Expresiones Logicas**

In [28]:
5==5 # igualdad son ==

True

In [29]:
5!=5 # diferente son !=

False

In [30]:
5!=3

True


El operador == es uno de los operadores de comparación; los otros son:

* x != y : x no es igual a y
* x > y : x es mayor que y
* x < y : x es menor que y
* x >= y : x es mayor o igual que y
* x <= y : x es menor o igual que y

In [31]:
3<5

True

# **Extructuras de Control**

Para escribir programas útiles, casi siempre necesitamos la capacidad de comprobar ciertas condiciones y cambiar el comportamiento del programa como corresponda. Las sentencias condicionales nos dan esta capacidad. La forma más sencilla es la sentencia if, fue la base para la programacion logica, el primer enfoque de dar instrucciones a las Maquinas


**If else**

In [32]:
edad=18

In [33]:
if (edad <= 18):
  print("Es menor de edad")
else:
  print("Mayor de Edad")

Es menor de edad

También podemos anidar if como en otros lenguajes pero recuerda la indentación

In [34]:
edad=15

In [35]:
if (edad <= 18):
  if (edad == 18):
    print("edad igual a 18")
  else:
    print("Menor que 18")
else:
  print("Mayor de Edad")

Menor que 18

**Funciones**
Una función es una porción o bloque de código reutilizable que se encarga de realizar una determinada tarea." Python es un lenguaje que nos da mucha flexibilidad al momento de crear funciones, en esté tutorial se darán cuenta porque.

In [36]:
# crear una funcion se hace con el comando Def
# ademas necesita unos parametros
def Suma_dos_Numeros(x,y):
  return (x+y)

In [37]:
Suma_dos_Numeros(8,9)

17

In [38]:
Suma_dos_Numeros(15,9)

24


Tomar un tercer parámetro opcional. El uso printpermite la impresión de múltiples expresiones dentro de una sola celda.

In [39]:
def Suma_dos_Numeros(x,y,Z=None):
  if(Z==None):
    return (x+y)
  else:
    return (x+y+Z)

In [40]:
Suma_dos_Numeros(1,3,4)

8

In [41]:
Suma_dos_Numeros(1,3)

4

In [42]:
S=Suma_dos_Numeros

In [43]:
S(1,5)

6

In [44]:
S(1,5,6)

12

**Extructura Datos**

**Listas**
Una lista es una estructura de datos y un tipo de dato en python con características especiales. Lo especial de las listas en Python es que nos permiten almacenar cualquier tipo de valor como enteros, cadenas y hasta otras funciones; por ejemplo:

In [45]:
# Lista se Crean con []
Nombres=["Oscar","Felipe","Juan","Fernando","Paula","Maria",2021]

In [46]:
type(Nombres)

list

In [47]:
print(Nombres)

['Oscar', 'Felipe', 'Juan', 'Fernando', 'Paula', 'Maria', 2021]

**Acceder a la Informacion de las listas**

python empieza a contar las posiciones desde cero

In [48]:
Nombres[2]

'Juan'

In [49]:
Nombres[-1] # para acceder a la ultima posicion

2021

In [50]:
Nombres[-2] # para acceder a la antepenultima posicion

'Maria'

In [51]:
## Agragar Nuevos datos con append
Nombres.append("Universidad de Antioquia")

In [52]:
Nombres

['Oscar',
 'Felipe',
 'Juan',
 'Fernando',
 'Paula',
 'Maria',
 2021,
 'Universidad de Antioquia']

Agregar una lista dentro de otra lista

In [53]:
Nombres.append(["28,65,30"])

In [54]:
Nombres

['Oscar',
 'Felipe',
 'Juan',
 'Fernando',
 'Paula',
 'Maria',
 2021,
 'Universidad de Antioquia',
 ['28,65,30']]

In [55]:
type(Nombres[1])

str

In [56]:
type(Nombres[-1])

list

In [57]:
type(Nombres[6])

int

**Tuplas**

En Python, una tupla es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo.

Las tuplas se representan escribiendo los elementos entre paréntesis y separados por comas y no se pueden modificar

In [58]:

x = (1, 'a', 2, 'b')

In [59]:
type(x)

tuple

**Diccionarios**
Un Diccionario es una estructura de datos y un tipo de dato en Python con características especiales que nos permite almacenar cualquier tipo de valor como enteros, cadenas, listas e incluso otras funciones. Estos diccionarios nos permiten además identificar cada elemento por una clave (Key).

Para definir un diccionario, se encierra el listado de valores entre llaves. Las parejas de clave y valor se separan con comas, y la clave y el valor se separan con dos puntos.

In [60]:
Diccionario_curso={"Nombre":["Juan","Felipe","Pedro","Maria","Diana"],
                   "Edad":[25,45,35,42,19],
                   "Curso":["Matematica","Python","Algebra","R","Estadisticas"]}

In [61]:
Diccionario_curso

{'Curso': ['Matematica', 'Python', 'Algebra', 'R', 'Estadisticas'],
 'Edad': [25, 45, 35, 42, 19],
 'Nombre': ['Juan', 'Felipe', 'Pedro', 'Maria', 'Diana']}

In [62]:
print(Diccionario_curso["Nombre"])

['Juan', 'Felipe', 'Pedro', 'Maria', 'Diana']

In [63]:
print(Diccionario_curso["Edad"])

[25, 45, 35, 42, 19]

In [64]:
print(Diccionario_curso["Curso"])

['Matematica', 'Python', 'Algebra', 'R', 'Estadisticas']

**Matrix**

In [71]:
import numpy  as np

In [65]:
# crear una Matrix desde una lista
Mi_lista=[1,2,3]

In [66]:
type(Mi_lista)

list

In [67]:
x=np.array(Mi_lista)

In [68]:
x

array([1, 2, 3])

In [73]:
# Crear Directamente
y=np.array([[1,2],[2,3]])

In [74]:
y

array([[1, 2],
       [2, 3]])

In [75]:
# Conocer la Dimension
y.shape

(2, 2)

**SERIES**

In [76]:
import pandas as pd

In [79]:
variables=["Nombre","Direccion","cargo"]
numeros=[1,2,3]

In [78]:
pd.Series(variables)

0       Nombre
1    Direccion
2        cargo
dtype: object

In [80]:
pd.Series(numeros)

0    1
1    2
2    3
dtype: int64

**DataFrame**

In [82]:
tienda1= pd.Series({"Nombre":"Don Pedro",
                    "Prodcutos":"Arroz",
                    "Precio":5000})
tienda2= pd.Series({"Nombre":"Peluqueria",
                    "Prodcutos":"Gomina",
                    "Precio":2000})
tienda3= pd.Series({"Nombre":"Carniceria",
                    "Prodcutos":"Mondongo",
                    "Precio":8000})

In [83]:
df_tiendas=pd.DataFrame([tienda1,tienda2,tienda3],index=["tienda1","tienda2","tienda3"])

In [84]:
df_tiendas # Muestra todo

             Nombre Prodcutos  Precio
tienda1   Don Pedro     Arroz    5000
tienda2  Peluqueria    Gomina    2000
tienda3  Carniceria  Mondongo    8000

**Dimension**

In [85]:
df_tiendas.shape

(3, 3)

**Variables**

In [86]:
df_tiendas.columns

Index(['Nombre', 'Prodcutos', 'Precio'], dtype='object')

**Variables**

In [87]:
df_tiendas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, tienda1 to tienda3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nombre     3 non-null      object
 1   Prodcutos  3 non-null      object
 2   Precio     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

**Encabezado**

In [90]:
df_tiendas.head(3)

             Nombre Prodcutos  Precio
tienda1   Don Pedro     Arroz    5000
tienda2  Peluqueria    Gomina    2000
tienda3  Carniceria  Mondongo    8000

**Colas**

In [92]:
df_tiendas.tail(1)

             Nombre Prodcutos  Precio
tienda3  Carniceria  Mondongo    8000

**COnsultar**

In [95]:
df_tiendas.loc["tienda2","Precio"]

2000

**Transponer Filas Y columnas**

In [97]:
df_T=df_tiendas.T

In [98]:
df_T

             tienda1     tienda2     tienda3
Nombre     Don Pedro  Peluqueria  Carniceria
Prodcutos      Arroz      Gomina    Mondongo
Precio          5000        2000        8000

In [99]:
df_tiendas

             Nombre Prodcutos  Precio
tienda1   Don Pedro     Arroz    5000
tienda2  Peluqueria    Gomina    2000
tienda3  Carniceria  Mondongo    8000

/content/drive/MyDrive/DATA SCIENCE/ASESORIAS/Juan Felipe y Juan Fernando/Análisis Descriptivo y Exploratorio/INSUMOS

**Exportar Excel**

In [103]:
df_tiendas.to_excel("/content/drive/MyDrive/DATA SCIENCE/ASESORIAS/Juan Felipe y Juan Fernando/Análisis Descriptivo y Exploratorio/INSUMOS/df1.xlsx",
                    index=False,sheet_name="Tiendas")

**Importar datos desde Excel**

In [108]:
tiendas=pd.read_excel("/content/drive/MyDrive/DATA SCIENCE/ASESORIAS/Juan Felipe y Juan Fernando/Análisis Descriptivo y Exploratorio/INSUMOS/df1.xlsx",
                      sheet_name="Tiendas")

In [109]:
type(tiendas)

pandas.core.frame.DataFrame

In [110]:
tiendas

       Nombre Prodcutos  Precio
0   Don Pedro     Arroz    5000
1  Peluqueria    Gomina    2000
2  Carniceria  Mondongo    8000