<a href="https://colab.research.google.com/github/Oscar19922017/Ciencia-de-Datos/blob/master/IntroduccionPython2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducción a Python**

"Se trata de un lenguaje de programación de alto nivel multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma"

**Python para Ciencia de Datos**

Según lo revelado por los resultados de una encuesta realizada por Kaggle una plataforna de científicos de datos, Python es el más usado en cuanto a lenguaje de programación, seguido de SQL y R para el tema de ciencia de Datos

## **Librerias para Ciencia de Datos**
* Numpy :NumPy es una biblioteca de Python muy popular para el procesamiento de matrices y matrices multidimensionales de gran tamaño
* Pandas : Pandas es una biblioteca de Python popular para el análisis de datos. No está directamente relacionado con el aprendizaje automático. Como sabemos, el conjunto de datos debe estar preparado antes del entrenamiento.
* Matplotlib : Matpoltlib es una biblioteca Python muy popular para la visualización de datos. Al igual que Pandas, no está directamente relacionado con el aprendizaje automático. Es particularmente útil cuando un programador quiere visualizar los patrones en los datos
* Scipy : SciPy es una biblioteca muy popular entre los entusiastas del aprendizaje automático, ya que contiene diferentes módulos para optimización, álgebra lineal, integración y estadísticas.
* Scikit-learn : Skikit-learn es una de las bibliotecas ML más populares para algoritmos ML clásicos. Está construido sobre dos bibliotecas básicas de Python, a saber, NumPy y SciPy. Scikit-learn admite la mayoría de los algoritmos de aprendizaje supervisados ​​y no supervisados.
* Keras : Keras es una biblioteca de Machine Learning muy popular para Python. Es una API de redes neuronales de alto nivel capaz de ejecutarse sobre TensorFlow, CNTK o Theano. Se puede ejecutar sin problemas tanto en la CPU como en la GPU. Keras hace que sea realmente para principiantes de ML construir y diseñar una red neuronal.
* TensorFlow : TensorFlow es una biblioteca de código abierto muy popular para el cómputo numérico de alto rendimiento desarrollado por el equipo de Google Brain en Google. Como su nombre lo indica, Tensorflow es un marco que implica definir y ejecutar cálculos que involucran tensores. Puede entrenar y ejecutar redes neuronales profundas que pueden usarse para desarrollar varias aplicaciones de IA
* Statsmodels es un módulo de Python que proporciona clases y funciones para la estimación de muchos modelos estadísticos diferentes, así como para realizar pruebas estadísticas y exploración de datos estadísticos. 
* Seaborn : Seaborn es una biblioteca de visualización de datos de Python basada en matplotlib . Proporciona una interfaz de alto nivel para dibujar gráficos estadísticos atractivos e informativos.

**Importar Libreria**

In [116]:
# Importar de forma directa
import numpy# matrices
import pandas# depurar datos
import matplotlib # graficos
import os # carpteas
import sklearn

**Installar Librerias**

In [117]:
# colab 
#!pip install numpy
# Anaconda
#pip install numpy
#!pip install numpy
# anaconda comando conda
# conda install pandas
#conda install sklearn

In [118]:
## Importamos con Alias
import pandas as pd
import numpy as np

# **Primeros Pasos con Python**

**Calculadora**

In [119]:
# suma
print(f'La suma de dos numero: {6+5}')
print(f'La suma de otros dos numeros es: {5+8}')
# dividr
print(8/2)
# Resta
print(8-5)
# Multiplica
print(8*5)

La suma de dos numero: 11
La suma de otros dos numeros es: 13
4.0
3
40

## **Variables en Pyhon**

¿Que es una Variable?
"En programación, una variable está formada por un espacio en el sistema de almacenaje (memoria principal de un ordenador) y un nombre simbólico (un identificador) que está asociado a dicho espacio. Ese espacio contiene una cantidad de información conocida o desconocida, es decir un valor. El nombre de la variable es la forma usual de referirse al valor almacenad"

Tipos de Variables: Enteros, flotantes, cadenas de caracteres, boleanos, bytes, complejos

In [120]:
Edad=28 # declarando con =

In [121]:
print(f'Muestreme la edad del cliente: {Edad}')

Muestreme la edad del cliente: 28

In [122]:
Edad=21
print(f'Muestreme la edad del cliente: {Edad}')

Muestreme la edad del cliente: 21

In [123]:
type(Edad)

int

In [124]:
Edad="21" # tipo string en python en comillas simples o dobles
type(Edad)

str

In [125]:
Edad='21' # tipo string en python en comillas simples o dobles
type(Edad)

str

In [126]:
Edad=21.0
type(Edad)

float

In [127]:
Edad=int(Edad) # convertir de decimal a entera

In [128]:
float(Edad) # Int a decimal

21.0

In [129]:
##
Nombre="Luis"
Apellido= "Carmona"

In [130]:
type(Nombre)

str

In [131]:
type(Apellido)

str

In [132]:
# cuando es styring se concantena con +
NombreCompleto=Nombre + " " + Apellido
print(NombreCompleto)

Luis Carmona

**Separar texto**

In [133]:
NombreCompleto.split(" ")

['Luis', 'Carmona']

In [134]:
Edad1=15
Edad2=25

In [135]:
Edad1+Edad2

40

In [136]:
SI=True
type(SI)

bool

## **Listas**

Una lista en Python es una estructura de datos formada por una secuencia ordenada de objetos

In [137]:
# se crea con []
Nombres=["Oscar","Luis","Hugo","Javier","Carlos"]

In [138]:
print(Nombres)

['Oscar', 'Luis', 'Hugo', 'Javier', 'Carlos']

In [139]:
## Agrgar otro nombre
Nombres.append("Daniel")

In [140]:
print(Nombres)

['Oscar', 'Luis', 'Hugo', 'Javier', 'Carlos', 'Daniel']

In [141]:
Nombres[1]

'Luis'

In [142]:
Nombres[0]

'Oscar'

In [143]:
len(Nombres)

6

In [144]:
# 6 posiciones
# 6 datos

In [145]:
Nombres[len(Nombres)-1] # al ultimo dato

'Daniel'

In [146]:
# acceder al ultimo
Nombres[-1]

'Daniel'

In [153]:
ListaMixta=["daniel",23,25,0.23,False]

In [156]:
ListaMixta.remove("daniel") # Eliminar Registro

In [157]:
ListaMixta

[25, 0.23, False]

In [158]:
versiones_plone = [4, 2.5, 5, 3.6, 2.1, 6]

In [159]:
# ordenar
versiones_plone.sort()

In [160]:
versiones_plone

[2.1, 2.5, 3.6, 4, 5, 6]

In [161]:
# Reverse
versiones_plone.sort(reverse=True)

In [162]:
versiones_plone

[6, 5, 4, 3.6, 2.5, 2.1]

In [164]:
# Insertar con posicion
versiones_plone.insert(1,8)

In [165]:
versiones_plone

[6, 8, 5, 4, 3.6, 2.5, 2.1]

In [168]:
versiones_plone[0:3] # Acceder

[6, 8, 5]

## **Diccionarios**
Un Diccionario es una estructura de datos y un tipo de dato en Python con características especiales que nos permite almacenar cualquier tipo de valor como enteros, cadenas, listas e incluso otras funciones. Estos diccionarios nos permiten además identificar cada elemento por una clave (Key).

Para definir un diccionario, se encierra el listado de valores entre llaves. Las parejas de clave y valor se separan con comas, y la clave y el valor se separan con dos puntos.

In [173]:
## {}, Lista []
Estudiantes={ "Nombre" :"Carlos","Edad":35,"Cursos":["IntroduccionPython","Estadistica","SQL"]}

In [171]:
print(Estudiantes["Nombre"])

Carlos

In [172]:
print(Estudiantes["Edad"])

35

In [174]:
print(Estudiantes["Cursos"])

['IntroduccionPython', 'Estadistica', 'SQL']

In [175]:
Estudiantes.keys()

dict_keys(['Nombre', 'Edad', 'Cursos'])

In [176]:
Estudiantes.values()

dict_values(['Carlos', 35, ['IntroduccionPython', 'Estadistica', 'SQL']])

In [178]:
deportes={"Futbol":"Inglaterra",
          "Tekondo": "Japon",
          "FutbolAmericano":"USA"}

In [179]:
deportes

{'Futbol': 'Inglaterra', 'FutbolAmericano': 'USA', 'Tekondo': 'Japon'}

In [180]:
## Series de Pandas

**SERIES**

Series es la estructura de datos para una sola columna de una DataFrame, no solo conceptualmente, sino que literalmente, es decir, los datos de una DataFrame se almacenan en la memoria como una colección de Series.

In [182]:
# convertir una diccionario en una serie
SerieDeportes=pd.Series(deportes)
SerieDeportes

Futbol             Inglaterra
Tekondo                 Japon
FutbolAmericano           USA
dtype: object

In [186]:
## Acceder
SerieDeportes.iloc[2]

'USA'

In [187]:
## Aceder con nombres
SerieDeportes.loc["Futbol"]

'Inglaterra'

**DataFrame**

El DataFrame es una estructura de 2 dimensiones etiquetada donde podemos almacenar datos de diferentes tipos. DataFrame es similar a una tabla SQL o una hoja de cálculo de Excel.

In [188]:
# diccionarios seran series, seran Data frame

In [189]:
Cliente1={"Nombre":"Juan","Salario":5000000,"Edad":35}
Cliente2={"Nombre":"Ana","Salario":6000000,"Edad":25}
Cliente3={"Nombre":"Camilo","Salario":15000000,"Edad":55}

In [190]:
Cliente1_Serie=pd.Series(Cliente1)
Cliente2_Serie=pd.Series(Cliente2)
Cliente3_Serie=pd.Series(Cliente3)

In [194]:
BaseClientes=pd.DataFrame([Cliente1_Serie,Cliente2_Serie,Cliente3_Serie])

In [195]:
BaseClientes

   Nombre   Salario  Edad
0    Juan   5000000    35
1     Ana   6000000    25
2  Camilo  15000000    55

**Exportar a Excel**

In [197]:
BaseClientes.to_excel("/content/drive/MyDrive/Diplomado_2022_01/IntroduccionPython2022/Insumos/BD.xlsx",
                      index=False)