<a href="https://colab.research.google.com/github/Oscar19922017/Ciencia-de-Datos/blob/master/Viajes_Bogot%C3%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Modelos no Supervisados**

In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

**Subir datos**

In [24]:
df=pd.read_csv(r"Viajes.csv")

In [25]:
df.head(4)

           fecha                    GEO_1  ... Distancia_Km  Tiempo_A
0  2019011936260    4.7246682,-74.0241998  ...       15.914  1.235278
1  2019091630910    4.6511427,-74.1463712  ...       14.868  0.266944
2  2019061835152  4.71938952,-74.03346117  ...        9.140  0.955278
3  2019071223754   4.75547918,-74.1156075  ...       12.270  2.268611

[4 rows x 5 columns]

**Dimension de BD**

In [26]:
df.shape

(9872, 5)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9872 entries, 0 to 9871
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fecha         9872 non-null   object
 1   GEO_1         9872 non-null   object
 2   GEO_2         9872 non-null   object
 3   Distancia_Km  9872 non-null   float64
 4   Tiempo_A      9872 non-null   float64
dtypes: float64(2), object(3)
memory usage: 385.8+ KB

**Separamos coordenadas**

In [28]:
nueva=df["GEO_1"].str.split(",",n=1,expand =True)
nueva.columns=["lat1","log1"]
nueva1=df["GEO_2"].str.split(",",n=1,expand =True)
nueva1.columns=["lat2","log2"]

In [29]:
df1=df[["fecha","Distancia_Km","Tiempo_A"]]

In [30]:
df1.head(2)

           fecha  Distancia_Km  Tiempo_A
0  2019011936260        15.914  1.235278
1  2019091630910        14.868  0.266944

In [31]:
df=pd.concat([df1,nueva,nueva1],axis=1)

In [32]:
df.head(5)

           fecha  Distancia_Km  ...        lat2          log2
0  2019011936260        15.914  ...  4.65556449  -74.07458744
1  2019091630910        14.868  ...   4.7109886    -74.072092
2  2019061835152         9.140  ...  4.66880272  -74.07795599
3  2019071223754        12.270  ...    4.720736     -74.05435
4  2019110920498        15.914  ...  4.65556449  -74.07458744

[5 rows x 7 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9872 entries, 0 to 9871
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fecha         9872 non-null   object
 1   Distancia_Km  9872 non-null   float64
 2   Tiempo_A      9872 non-null   float64
 3   lat1          9872 non-null   object
 4   log1          9872 non-null   object
 5   lat2          9872 non-null   object
 6   log2          9872 non-null   object
dtypes: float64(2), object(5)
memory usage: 540.0+ KB

**Recodificar Variables**

In [34]:
df["lat1"]=df["lat1"].astype(float)
df["lat2"]=df["lat2"].astype(float)
df["log1"]=df["log1"].astype(float)
df["log2"]=df["log2"].astype(float)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9872 entries, 0 to 9871
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fecha         9872 non-null   object
 1   Distancia_Km  9872 non-null   float64
 2   Tiempo_A      9872 non-null   float64
 3   lat1          9872 non-null   float64
 4   log1          9872 non-null   float64
 5   lat2          9872 non-null   float64
 6   log2          9872 non-null   float64
dtypes: float64(6), object(1)
memory usage: 540.0+ KB

**Modelo No Supervisado K-Means**